atm-common/src/main/resources/xsd3/SharedTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Support schema providing reusable simple types constraints.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fb="http://www.fixm.aero/base/4.3"
           elementFormDefault="qualified">
    <!-- ===================================== -->
    <!-- Data constraints stipulated by ICAO -->
    <!-- ===================================== -->
    <xs:simpleType name="TimestampType">
        <xs:annotation>
            <xs:documentation>
                UTC timestamps used throughout
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoAerodromeType">
        <xs:annotation>
            <xs:documentation>
                A four letter ICAO designator (published in Doc 7930, or ZZZZ)
            </xs:documentation>
            <xs:appinfo/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:pattern value="[A-Z]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoArctypType">
        <xs:annotation>
            <xs:documentation>
                An ICAO designator of an aircraft type (published in Doc 8643, or ZZZZ).
            </xs:documentation>
            <xs:appinfo/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoArcidType">
        <xs:annotation>
            <xs:documentation>
                ICAO aircraft identifier as specified in PANS-ATM ("Field 7 callsign")
            </xs:documentation>
            <xs:appinfo/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{2,7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoPointNameType">
        <xs:annotation>
            <xs:documentation>
                The designator of a significant point.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="[A-Z0-9]{2,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoWaketurbcatType">
        <xs:annotation>
            <xs:documentation>
                The ICAO wake turbulence category designator. See Doc 8643 but note availability of "J" (i.e. "SUPER"),
                as this is used by the IFPS.
            </xs:documentation>
            <xs:appinfo/>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="L"/>
            <xs:enumeration value="M"/>
            <xs:enumeration value="H"/>
            <xs:enumeration value="J"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- =================================================================== -->
    <!-- Data constraints stipulated by other business rules or convention -->
    <!-- =================================================================== -->
    <xs:simpleType name="IfplidType">
        <xs:annotation>
            <xs:documentation>
                A unique flight plan identifier, assigned by the IFPS.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="modeSIdentifierType">
        <xs:annotation>
            <xs:documentation>
                The callsign as included in ASTERIX data item I062/380 subfield 2
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9\s]{8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RwyarrType">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}[LCR]{0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FlightlevelType">
        <xs:annotation>
            <xs:documentation>
                A flight level expressed either as; "F" or "A" followed by three digits or,"S" or "M" followed by four
                digits.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="([F|A][0-9]{3})|([S|M][0-9]{4})"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SpeedAdvisoryType">
        <xs:annotation>
            <xs:documentation>
                For the sake of this example, it is assumed that speed advisories will be passed as a reference
                assigned
                airspeed (in knots) and applicable type of limitation (min/eq/max). Data constraints correspond to
                ADEXP conventions.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="aspeed">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:pattern value="K[0-9]{4}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="spdlmt">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="MIN"/>
                        <xs:enumeration value="EQL"/>
                        <xs:enumeration value="MAX"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- ============================== -->
    <!-- technical data constraints -->
    <!-- ============================== -->
    <xs:simpleType name="LimCharUnlimFrom1Type">
        <xs:annotation>
            <xs:documentation>
                Unlimited strings are never a good idea.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9\s\(\)\?:\.,'=\+/\n\r]{1,1024}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustomWaketurbcatType">
        <xs:annotation>
            <xs:documentation>
                Information on custom (i.e. non-ICAO) separation wake turbulence category in use for separation of
                this flight (e.g. RECAT_EU, national exceptions)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="categoryName">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Unlimited strings are never a good idea.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z0-9\s\(\)\?:\.,'=\+/\n\r]{1,1024}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="categoryValue">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>
                            Unlimited strings are never a good idea.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z0-9\s\(\)\?:\.,'=\+/\n\r]{1,1024}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- ====================================================== -->
    <!-- extended types for supporting wildcards in filters -->
    <!-- ====================================================== -->
    <xs:simpleType name="icaoAerodromeFilterType">
        <xs:annotation>
            <xs:documentation>
                A four letter ICAO designator (published in Doc 7930, or ZZZZ) that may be terminated early by a
                wildcard (*)
            </xs:documentation>
            <xs:appinfo/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,4}|[A-Z]{1,3}[*]{0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoArcidFilterType">
        <xs:annotation>
            <xs:documentation>
                ICAO aircraft identifier as specified in PANS-ATM ("Field 7 callsign") that may be terminated
                early by a wildcard (*)
            </xs:documentation>
            <xs:appinfo/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{2,7}|[A-Z0-9]{2,6}[*]{0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IfplidFilterType">
        <xs:annotation>
            <xs:documentation>
                A unique flight plan identifier, assigned by the IFPS in which the last character may be a
                wildcard (*)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}[0-9]{8}|[A-Z]{2}[0-9]{7}\*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimCharUnlimFrom1FilterType">
        <xs:annotation>
            <xs:documentation>
                A generic, limited string which may end with wildcard (*)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
            <xs:pattern value="[A-Z0-9\s\(\)\?:\.,'=\+/\n\r]{1,1024}|[A-Z0-9\s\(\)\?:\.,'=\+/\n\r]{1,1023}[*]{0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="icaoPointNameFilterType">
        <xs:annotation>
            <xs:documentation>
                The ICAO style designator of a significant point, that may be terminated early by a wildcard (*)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="5"/>
            <xs:pattern value="[A-Z0-9]{2,5}|[A-Z0-9]{2,4}[*]{0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CharacterStringType">
        <xs:annotation>
            <xs:documentation>
                A sequence of characters [specialised from ISO19103, chapter 6.5.2.7].
                In FIXM, the maximum length of a CharacterString is set to 4096 characters. [FIXM]
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4096"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>